{% extends 'base.html' %}
{% block title %}Resources{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center flex-column align-items-center">
    <h1 class="display-4">Resources</h1>
    <p class="lead">Some material in Osmanya.</p>
    <div class="list-group list-group-flush">
        <a href="/flask_app/files/Learn to read Osmanya.pdf" class="list-group-item list-group-item">Learn to read Osmanya</a>
        <a href="/flask_app/files/Afkeenna iyo Fartiisa.pdf" class="list-group-item list-group-item">Afkeenna iyo Fartiisa</a>
        <a href="/flask_app/files/Af Soomaali. v.1.pdf" class="list-group-item list-group-item">Af Soomaali. v.1</a>
        <a href="/flask_app/files/Marsi koowaad ka af Soomaaliga.pdf" class="list-group-item list-group-item">Marsi koowaad ka af Soomaaliga</a>
        <a href="/flask_app/files/Cismaan Yuusuf (Keenadiid).pdf" class="list-group-item list-group-item">Cismaan Yuusuf (Keenadiid)</a>
    </div>
</div>
{% endblock %}